<!--The content below is only a placeholder and can be replaced.-->
<div class="container"> 
<div class="row"> 
    <div class="col-sm-12">
    <h3>Task Manager</h3>
    </div>
  </div>
  <div class="row">
        <div class="col-sm-2">
         <h4>   
           <a  class="nav-link"  routerLinkActive="active" routerLink="addTask">Add Task</a> 
          </h4>        
        </div>
        <div class="col-sm-2">          
            <h4><a class="nav-link"  routerLinkActive="active" routerLink="viewTask">view Task</a>
             </h4>
        </div>
 </div>   
<div class="row">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
<hr> 
</div>

