
  <div class="row padding-bottom-12"> 
    <div class="col-sm-2 col-sm-2-reduce"> 
        <label for="txtTask"><b>Task:</b></label> 
    </div>
    <div class="col-sm-4 padding-no-right-left"> 
        <input class="form-control" id="txtTask" type="text"  [(ngModel)]="taskSearch" /> 
    </div>
    <div class="col-sm-2 col-sm-2-reduce"> 
        <label for="txtPTask"><b>Parent Task:</b></label> 
    </div>
    <div class="col-sm-4 padding-no-right-left"> 
        <input class="form-control" id="txtPTask" type="text" 
         [(ngModel)]="parentName" /> 
    </div>
</div>    
<div class="row">
   <div class="col-sm-2 col-sm-2-reduce"> 
       <label for="txtPriFrom"><b>Priority From:</b></label> 
   </div>
   <div class="col-sm-1 col-sm-1-increase padding-no-right-left">
       <input class="form-control" id="txtPriFrom" type="text"  
       [(ngModel)]="priorityFrom" />
   </div>
   <div class="col-sm-2"> 
       <label for="txtPriTo"><b>Priority To:</b></label> 
   </div>
   <div class="col-sm-1 col-sm-1-increase padding-no-right-left"> 
       <input class="form-control" id="txtPriTo" type="text"  
        [(ngModel)]="priorityTo" 
       />     
  </div>
   <div class="col-sm-2 col-sm-2-reduce"> 
       <label for="txtStartDate"><b>Start Date:</b></label> 
   </div>
   <div class="col-sm-1 col-sm-1-increase padding-no-right-left"> 
       <input class="form-control" id="txtStartDate" type="date"  
       [(ngModel)]="startDate" placeholder="dd/MM/yyy" /> 
   </div>
   <div class="col-sm-2 col-sm-2-reduce"> 
       <label for="txtEndDate"><b>End Date:</b></label> 
   </div>
   <div class="col-sm-1 col-sm-1-increase padding-no-right-left"> 
       <input class="form-control" id="txtEndDate" type="date"   placeholder="dd/MM/yyy"
        [(ngModel)]="endDate"/> 
   </div>
</div>    
<div class="row">
  <div class="col-sm-12"><hr /></div>
</div>
<div class="row">
    <div class="col-sm-2">
            <b>Task</b>
    </div>
    <div class="col-sm-2">
          <b>Parent</b>
    </div>
    <div class="col-sm-1">
            <b>Priority</b>
    </div>
    <div class="col-sm-2">
          <b>Start</b>
    </div>
    <div class="col-sm-1">
          <b>End</b>
    </div>
</div>
<div class="row" 
*ngFor="let task of tasks |  filterdata:taskSearch:parentName:priorityTo:priorityFrom:startDate:endDate ">
          <div class="col-sm-12">

                  <div class="row">
                          <div class="col-sm-2"> {{task.taskName}}                                   
                          </div>
                          <div class="col-sm-2">  {{task.parentName}}                                                                     
                          </div>
                          <div class="col-sm-1">
                                  {{task.priority}}
                          </div>
                          <div class="col-sm-2 col-sm-2-reduce">
                                  {{task.startDate  | date: 'dd/MM/yyyy' }}
                          </div>
                          <div class="col-sm-2 col-sm-2-reduce">
                                  {{task.endDate | date: 'dd/MM/yyyy'}}
                          </div>
                          <div class="col-sm-1 padding-no-right-left"> 
                                  <button type="button" class="btn btn-secondary" 
                                  (click)="getTaskByTaskId(task)" [disabled]='!task.status'
                                  >Edit</button>
                          </div>                            
                          <div class="col-sm-1 padding-no-right-left" >    
                                  <button type="button" class="btn btn-secondary endTask" [disabled]='!task.status'
                                  (click)="endTask(task.taskId)"  >End Task</button>
                          </div>                            
                          <div class="col-sm-1 padding-no-right-left">        
                                  <button type="button" class="btn btn-secondary delTask" 
                                  (click)="deleteTask(task.taskId)"  >Delete</button>      
                              </div>
                          
                  </div>
          </div>
  </div> 
  <div class="modal " tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">

        <div class="modal-content colorofModal">
                
            <div class="modal-body">

                    <div class="modal-header">
                            <label><b>EDIT   TASK</b></label> 
               <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
               
               </div>

                    <form class="" [formGroup]="formGroup" >
                            <span class="row padding-bottom-12">
                            <div class="col-sm-12">
                            <div class="row space-point5">
                                  <div class="col-sm-2">
                                      <label for="task"><b>Task: </b></label> 
                                  </div>
                                  <div class="col-sm-10">             
                                          <div class="form-group"> 
                                              <input type="text" formControlName="taskcontrol"
                                              [(ngModel)]="taskEdit.taskName" class="form-control"> 

                                          </div>
                                  </div> 
                            </div>
                            <div class="row space-point5">
                                  <div class="col-sm-2">
                                      <label for="priority"><b>Priority:</b></label> 
                                  </div>
                                  <div class="col-sm-10" > 
                                            
                                          0<input type="range"  formControlName="prioritycontrol"
                                           id="priority" value="0"  [(ngModel)]="taskEdit.priority"  
                                           min="0" max="30"  >30
                                           <br />
                                           Selected value : {{taskEdit.priority}}
                        
                                  </div> 
                            </div>
                            <div class="row space-point5">
                                  <div class="col-sm-2">
                                      <label for="ddlParent"><b>Parent Task:{{taskEdit.parentName}}</b></label> 
                                  </div>
                                  <div class="col-sm-10">  
                                      <select type="number" id="ddlParent"  
                                      [ngModelOptions]="{standalone:true}" class="form-control"
                                      [(ngModel)]="taskEdit.parentName">
                                      <option [ngValue]=""></option>
                                        <option *ngFor="let parent of parents" [ngValue]="parent.taskName"
                                        >{{parent.taskName}}</option>
                                      </select>
                                  </div> 
                            </div>
                            <div class="row space-point5">
                                  <div class="col-sm-2">
                                      <label for="startdate"><b>StartDate:</b></label> 
                                  </div>
                                  <div class="col-sm-10">            
                                      <input type="date"   formControlName="startdatecontrol"
                                      [(ngModel)]="taskEdit.startDate"   auto-fill-sync
                                      class="form-control" />
                                      <div *ngIf="formGroup.controls['startdatecontrol'].invalid && 
                                      (formGroup.controls['startdatecontrol'].dirty|| formGroup.controls['startdatecontrol'].touched) "
                                      class="alert alert-danger">          
                                      <div  [hidden]="!(formGroup.controls['startdatecontrol'].hasError('required'))"
                                      >StartDate is required </div>    
                                      <div  [hidden]="!(formGroup.controls['startdatecontrol'].hasError('pattern'))"
                                        >StartDate is not valid,Enter date in format MM/DD/YYYY format </div>  
                                      </div>            
                                 </div> 
                            </div>
                            <div class="row space-point5">
                                  <div class="col-sm-2">
                                      <label for="enddate"><b>EndDate:</b></label> 
                                  </div>
                                  <div class="col-sm-10"> 
                                      <input type="date"    formControlName="enddatecontrol"
                                      [(ngModel)]="taskEdit.endDate"   
                                      class="form-control"   /> 
                                      <div *ngIf="formGroup.controls['enddatecontrol'].invalid && 
                                      (formGroup.controls['enddatecontrol'].dirty|| formGroup.controls['enddatecontrol'].touched) "
                                      class="alert alert-danger">          
                                    <div  [hidden]="!(formGroup.controls['enddatecontrol'].hasError('required'))"
                                      >EndDate is required </div>        
                                      <div  [hidden]="!(formGroup.controls['enddatecontrol'].hasError('pattern'))"
                                        >EndDate is not valid,Enter date in format MM/DD/YYYY format </div> 
                                      </div>
                                  </div> 
                            </div>
                            <div class="row space-point5">
                                  <div class="col-sm-2"> 
                                  </div>
                                  <div class="col-sm-2">    
                                      <div class="form-group">   
                                              <button type="button" class="btn btn-secondary cusadd" [disabled]="!(formGroup.valid)"
                                              id="btnAdd" (click)="EditFunction()">Update</button> 
                                            </div>
                                  </div> 
                                  <div class="col-sm-1">  
                                      <div class="form-group">     
                                              <button type="button" class="btn btn-secondary" id="btnCancel"
                                              (click)="closeModalDialog()">
                                                Cancel</button> 
                                        </div>
                                  </div> 
                            </div>
                          </div>
                          </span>
                          </form>
                        
                        
               
                </div>
        </div>

        </div>
    </div>
    

 
  



