/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html{
    font-size:14px;
}
.padding-no-right-left{
    padding-right:0px;
    padding-left:0px;
}
@media (min-width: 576px){
    .col-sm-2-reduce {
        max-width: 14%;
    }
    .col-sm-1-increase {
        max-width: 10%;
    }
}
.dotted-hr{
    border:none;
    border-top:1px dotted #000;
    color:#000;
    background-color: #fff;
    height :1px;
}
.padding-bottom-12{
    padding-bottom:12px
}
.active-class{
    color:blue !important;
}
.black{
    color: #000;
}
.space-point5{
padding: 0.5em;
}